<a href="https://colab.research.google.com/github/henselwilson/ChennaiHousePriceAnalysisAndPrediction/blob/main/ChennaiHousePricePrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [305]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [306]:
pd.set_option('display.max_columns', None)
df=pd.read_csv("https://raw.githubusercontent.com/henselwilson/ChennaiHousePriceAnalysisAndPrediction/main/train-chennai-sale.csv",index_col="PRT_ID")
df.head()

,AREA,INT_SQFT,DATE_SALE,DIST_MAINROAD,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,DATE_BUILD,BUILDTYPE,UTILITY_AVAIL,STREET,MZZONE,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE
PRT_ID,,,,,,,,,,,,,,,,,,,,,
P03210,Karapakkam,1004,04-05-2011,131,1.0,1.0,3,AbNormal,Yes,15-05-1967,Commercial,AllPub,Paved,A,4.0,3.9,4.9,4.330,380000,144400,7600000
P09411,Anna Nagar,1986,19-12-2006,26,2.0,1.0,5,AbNormal,No,22-12-1995,Commercial,AllPub,Gravel,RH,4.9,4.2,2.5,3.765,760122,304049,21717770
P01812,Adyar,909,04-02-2012,70,1.0,1.0,3,AbNormal,Yes,09-02-1992,Commercial,ELO,Gravel,RL,4.1,3.8,2.2,3.090,421094,92114,13159200
P05346,Velachery,1855,13-03-2010,14,3.0,2.0,5,Family,No,18-03-1988,Others,NoSewr,Paved,I,4.7,3.9,3.6,4.010,356321,77042,9630290
P06210,Karapakkam,1226,05-10-2009,84,1.0,1.0,3,AbNormal,Yes,13-10-1979,Others,AllPub,Gravel,C,3.0,2.5,4.1,3.290,237000,74063,7406250

In [307]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7109 entries, P03210 to P09794
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   AREA           7109 non-null   object
 1   INT_SQFT       7109 non-null   int64
 2   DATE_SALE      7109 non-null   object
 3   DIST_MAINROAD  7109 non-null   int64
 4   N_BEDROOM      7108 non-null   float64
 5   N_BATHROOM     7104 non-null   float64
 6   N_ROOM         7109 non-null   int64
 7   SALE_COND      7109 non-null   object
 8   PARK_FACIL     7109 non-null   object
 9   DATE_BUILD     7109 non-null   object
 10  BUILDTYPE      7109 non-null   object
 11  UTILITY_AVAIL  7109 non-null   object
 12  STREET         7109 non-null   object
 13  MZZONE         7109 non-null   object
 14  QS_ROOMS       7109 non-null   float64
 15  QS_BATHROOM    7109 non-null   float64
 16  QS_BEDROOM     7109 non-null   float64
 17  QS_OVERALL     7061 non-null   float64
 18  REG_FEE        7109 non-null   int64
 19  COMMIS         7109 non-null   int64
 20  SALES_PRICE    7109 non-null   int64
dtypes: float64(6), int64(6), object(9)
memory usage: 1.2+ MB

In [308]:
df.describe()

,INT_SQFT,DIST_MAINROAD,N_BEDROOM,N_BATHROOM,N_ROOM,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE
count,7109.000000,7109.000000,7108.000000,7104.000000,7109.000000,7109.000000,7109.000000,7109.000000,7061.000000,7109.000000,7109.000000,7.109000e+03
mean,1382.073006,99.603179,1.637029,1.213260,3.688704,3.517471,3.507244,3.485300,3.503254,376938.330708,141005.726544,1.089491e+07
std,457.410902,57.403110,0.802902,0.409639,1.019099,0.891972,0.897834,0.887266,0.527223,143070.662010,78768.093718,3.768603e+06
min,500.000000,0.000000,1.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,71177.000000,5055.000000,2.156875e+06
25%,993.000000,50.000000,1.000000,1.000000,3.000000,2.700000,2.700000,2.700000,3.130000,272406.000000,84219.000000,8.272100e+06
50%,1373.000000,99.000000,1.000000,1.000000,4.000000,3.500000,3.500000,3.500000,3.500000,349486.000000,127628.000000,1.033505e+07
75%,1744.000000,148.000000,2.000000,1.000000,4.000000,4.300000,4.300000,4.300000,3.890000,451562.000000,184506.000000,1.299390e+07
max,2500.000000,200.000000,4.000000,2.000000,6.000000,5.000000,5.000000,5.000000,4.970000,983922.000000,495405.000000,2.366734e+07

In [309]:
df.isnull().sum()

AREA              0
INT_SQFT          0
DATE_SALE         0
DIST_MAINROAD     0
N_BEDROOM         1
N_BATHROOM        5
N_ROOM            0
SALE_COND         0
PARK_FACIL        0
DATE_BUILD        0
BUILDTYPE         0
UTILITY_AVAIL     0
STREET            0
MZZONE            0
QS_ROOMS          0
QS_BATHROOM       0
QS_BEDROOM        0
QS_OVERALL       48
REG_FEE           0
COMMIS            0
SALES_PRICE       0
dtype: int64

In [310]:
print(df.loc[df['N_BEDROOM'].isnull(),'INT_SQFT'])
print('\n Lets find the average area for different bhk')
print(df[['N_BEDROOM','INT_SQFT']].groupby('N_BEDROOM').mean())
print(" It is close to 2bhk")
df['N_BEDROOM'].fillna(2,inplace=True)

PRT_ID
P01066    1556
Name: INT_SQFT, dtype: int64

 Lets find the average area for different bhk
              INT_SQFT
N_BEDROOM
1.0        1078.015283
2.0        1596.548044
3.0        1947.609618
4.0        2364.141732
 It is close to 2bhk

In [311]:
df[df['N_BATHROOM'].isnull()]
print(df[['N_BEDROOM','N_BATHROOM']].groupby('N_BEDROOM').mean())
print('No.of 1 bhk with bathroom null values')
print(df.loc[df['N_BEDROOM']==1,'N_BATHROOM'].isnull().sum())
df['N_BATHROOM'].fillna(1,inplace=True)

           N_BATHROOM
N_BEDROOM
1.0          1.000000
2.0          1.235544
3.0          2.000000
4.0          2.000000
No.of 1 bhk with bathroom null values
4

In [312]:
df[df['QS_OVERALL'].isnull()]
print(df[['N_BEDROOM','QS_OVERALL']].groupby('N_BEDROOM').mean())
df['QS_OVERALL'].fillna(3.5,inplace=True)

           QS_OVERALL
N_BEDROOM
1.0          3.495865
2.0          3.512220
3.0          3.502646
4.0          3.532688

In [313]:
df[df.duplicated()]
print("No Duplicate Values")

No Duplicate Values

In [314]:
df['AREA'].value_counts()
df['AREA'].replace(to_replace=['Chrompt','Chrmpet','Chormpet','Chrompet'],value=10,inplace=True)
df['AREA'].replace(to_replace=['TNagar','T Nagar'],value=20,inplace=True)
df['AREA'].replace(to_replace=['Karapakam','Karapakkam'],value=30,inplace=True)
df['AREA'].replace(to_replace=['Ana Nagar','Ann Nagar','Anna Nagar'],value=40,inplace=True)
df['AREA'].replace(to_replace=['Velchery','Velachery'],value=50,inplace=True)
df['AREA'].replace(to_replace=['Adyr','Adyar'],value=60,inplace=True)
df['AREA'].replace(to_replace=['KKNagar','KK Nagar'],value=70,inplace=True)

In [315]:
df['SALE_COND'].value_counts()
df['SALE_COND'].replace(to_replace=['Partiall','PartiaLl','Partial'],value=10,inplace=True)
df['SALE_COND'].replace(to_replace=['Adj Land','AdjLand'],value=20,inplace=True)
df['SALE_COND'].replace(to_replace=['Ab Normal','AbNormal'],value=30,inplace=True)
df['SALE_COND'].replace(to_replace=['Family'],value=40,inplace=True)
df['SALE_COND'].replace(to_replace=['Normal Sale'],value=50,inplace=True)

In [316]:
df['PARK_FACIL'].value_counts()
df['PARK_FACIL'].replace(to_replace=['No','Noo'],value='0',inplace=True)
df['PARK_FACIL'].replace(to_replace='Yes',value='1',inplace=True)

In [317]:
df['BUILDTYPE'].value_counts()
df['BUILDTYPE'].replace(to_replace=['Comercial'],value='Commercial',inplace=True)
df['BUILDTYPE'].replace(to_replace=['Other'],value='Others',inplace=True)
df=pd.get_dummies(df,columns=['BUILDTYPE'])
df.drop(columns=['BUILDTYPE_Others'],axis=1,inplace=True)

In [318]:
df['UTILITY_AVAIL'].value_counts()
df['UTILITY_AVAIL'].replace(to_replace=['All Pub'],value='AllPub',inplace=True)
df['UTILITY_AVAIL'].replace(to_replace=['NoSeWa','NoSewr '],value='NoSewr',inplace=True)
df=pd.get_dummies(df,columns=['UTILITY_AVAIL'])
df.drop(columns=['UTILITY_AVAIL_ELO'],axis=1,inplace=True)

In [319]:
df['STREET'].value_counts()
df['STREET'].replace(to_replace=['Pavd'],value='Paved',inplace=True)
df['STREET'].replace(to_replace=['NoAccess'],value='No Access',inplace=True)
df=pd.get_dummies(df,columns=['STREET'])
df.drop(columns=['STREET_No Access'],axis=1,inplace=True)

In [320]:
df['MZZONE'].value_counts()
df['MZZONE'].replace(to_replace=['RL'],value=10,inplace=True)
df['MZZONE'].replace(to_replace=['RH'],value=20,inplace=True)
df['MZZONE'].replace(to_replace=['RM'],value=30,inplace=True)
df['MZZONE'].replace(to_replace=['C'],value=40,inplace=True)
df['MZZONE'].replace(to_replace=['A'],value=50,inplace=True)
df['MZZONE'].replace(to_replace=['I'],value=60,inplace=True)

In [321]:
df['DATE_BUILD']=df['DATE_BUILD'].astype('datetime64')
df['DATE_SALE']=df['DATE_SALE'].astype('datetime64')
df['AGE']=df['DATE_SALE']-df['DATE_BUILD']
df['AGE']=df['AGE'].dt.days.astype('int64')

In [322]:
df.drop(columns=['REG_FEE','COMMIS'],axis=1,inplace=True)

In [323]:
df.head().values

array([[30, 1004, Timestamp('2011-04-05 00:00:00'), 131, 1.0, 1.0, 3, 30,
        '1', Timestamp('1967-05-15 00:00:00'), 50, 4.0, 3.9, 4.9, 4.33,
        7600000, 1, 0, 1, 0, 0, 1, 16031],
       [40, 1986, Timestamp('2006-12-19 00:00:00'), 26, 2.0, 1.0, 5, 30,
        '0', Timestamp('1995-12-22 00:00:00'), 20, 4.9, 4.2, 2.5, 3.765,
        21717770, 1, 0, 1, 0, 1, 0, 4015],
       [60, 909, Timestamp('2012-04-02 00:00:00'), 70, 1.0, 1.0, 3, 30,
        '1', Timestamp('1992-09-02 00:00:00'), 10, 4.1, 3.8, 2.2, 3.09,
        13159200, 1, 0, 0, 0, 1, 0, 7152],
       [50, 1855, Timestamp('2010-03-13 00:00:00'), 14, 3.0, 2.0, 5, 40,
        '0', Timestamp('1988-03-18 00:00:00'), 60, 4.7, 3.9, 3.6, 4.01,
        9630290, 0, 0, 0, 1, 0, 1, 8030],
       [30, 1226, Timestamp('2009-05-10 00:00:00'), 84, 1.0, 1.0, 3, 30,
        '1', Timestamp('1979-10-13 00:00:00'), 40, 3.0, 2.5, 4.1, 3.29,
        7406250, 0, 0, 1, 0, 1, 0, 10802]], dtype=object)

In [324]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler() #,'DIST_MAINROAD','QS_ROOMS','QS_BATHROOM','QSBEDROOM','QS_OVERALL','AGE'
df['INT_SQFT']=scaler.fit_transform(df['INT_SQFT'].values.reshape(-1,1))
df['DIST_MAINROAD']=scaler.fit_transform(df['DIST_MAINROAD'].values.reshape(-1,1))
df['QS_ROOMS']=scaler.fit_transform(df['QS_ROOMS'].values.reshape(-1,1))
df['QS_BATHROOM']=scaler.fit_transform(df['QS_BATHROOM'].values.reshape(-1,1))
df['QS_BEDROOM']=scaler.fit_transform(df['QS_BEDROOM'].values.reshape(-1,1))
df['QS_OVERALL']=scaler.fit_transform(df['QS_OVERALL'].values.reshape(-1,1))
df['AGE']=scaler.fit_transform(df['AGE'].values.reshape(-1,1))

In [325]:
df

,AREA,INT_SQFT,DATE_SALE,DIST_MAINROAD,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,DATE_BUILD,MZZONE,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,SALES_PRICE,BUILDTYPE_Commercial,BUILDTYPE_House,UTILITY_AVAIL_AllPub,UTILITY_AVAIL_NoSewr,STREET_Gravel,STREET_Paved,AGE
PRT_ID,,,,,,,,,,,,,,,,,,,,,,,
P03210,30,-0.826608,2011-04-05,0.546992,1.0,1.0,3,30,1,1967-05-15,50,0.541007,0.437479,1.594560,1.573589,7600000,1,0,1,0,0,1,1.589600
P09411,40,1.320409,2006-12-19,-1.282306,2.0,1.0,5,30,0,1995-12-22,20,1.550078,0.771640,-1.110568,0.498224,21717770,1,0,1,0,1,0,-1.076792
P01812,60,-1.034314,2012-04-02,-0.515743,1.0,1.0,3,30,1,1992-09-02,10,0.653126,0.326092,-1.448709,-0.786505,13159200,1,0,0,0,1,0,-0.380681
P05346,50,1.033994,2010-03-13,-1.491369,3.0,2.0,5,40,0,1988-03-18,60,1.325840,0.437479,0.129282,0.964533,9630290,0,0,0,1,0,1,-0.185850
P06210,30,-0.341234,2009-05-10,-0.271837,1.0,1.0,3,30,1,1979-10-13,40,-0.580183,-1.121940,0.692850,-0.405844,7406250,0,0,1,0,1,0,0.429267
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
P03834,30,-1.714275,2011-03-01,-0.846759,1.0,1.0,2,20,0,1962-01-15,30,-0.580183,-1.456101,-1.223282,-1.871387,5353000,0,0,0,0,0,0,2.013658
P10000,50,1.125822,2004-08-04,-0.829337,3.0,2.0,5,40,1,1995-11-04,20,0.092531,1.105801,-0.208859,0.793235,10818480,0,0,0,1,0,0,-1.258531
P09594,50,0.507079,2006-08-25,0.912851,2.0,1.0,4,50,0,1978-01-09,60,0.877364,0.771640,-0.659713,0.640971,8351410,0,1,0,1,1,0,0.352266
P06508,30,-1.301051,2009-03-08,-1.038400,1.0,1.0,2,10,1,1977-11-08,10,1.213721,0.326092,0.692850,1.250028,8507000,1,0,0,0,0,1,0.571507
P09794,50,1.123636,2005-07-13,0.982539,3.0,2.0,5,10,1,1961-07-24,60,-0.468064,-0.008069,0.918278,0.260311,9976480,0,0,0,0,0,1,1.596035